#general{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 70vh;
}
#balls{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: auto;
    width: 90%;
}
p{
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(249, 200, 47);
    border-radius: 10px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}