#general{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 70vh;
}
input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgb(25, 87, 174);
    background-color: black;
    font-size: 18px;
    padding-left: 10px;
    color: white;
    margin-bottom: 20px;

}
input:focus{
    background-color: rgb(25, 87, 174);
}
input::placeholder{
    font-style: italic;
    color:white
}
#nombrePokemons{
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: auto;
    height: 60vh;
}
#nombrePokemons>p{
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(249, 200, 47);
    border-radius: 10px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(98, 39, 39);
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#nombrePokemons>p:hover{
    background-color: rgb(25, 87, 174);
    cursor: pointer;
}
#nombrePokemons>p:active{
    background-color: rgb(11, 63, 135);
}